<% layout('/layouts/boilerplate') %>
<body>
    <div class="heading">Explore</div>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1"> 
      <!-- For large nd medium size there will be minimum 3 & 2 cards respectively in a row & for small only 1 card -->
      <% for(let listings of allListings){ %> <!-- Cards will be created as the for loop runs -->
        
          <div class="card col"> <!-- Card col: So that all cards will be shown in 1 row in the form of column -->
            <a class="img-listing" href="/listings/<%= listings._id %>"><img src="<%= listings.image %>" class="card-img-top" alt="listing_image" style="height: 20rem"></a> 
            <!-- On image click we will be redirected to show.ejs --> <!-- height: 20rem=> Cards will be of same height -->
            <div class="card-body">
              <h5 class="card-title"><%= listings.title %></h5>
              <p class="card-text">
                Price: &#8377; <%= listings.price.toLocaleString("en-IN") %> /night
              </p>
              <a href="/listings/<%= listings._id %>" class="btn btn-primary">See More Details</a>
            </div>
        </div>

      <% } %>
    </div>

    <form method="GET" action="/listings/new">
        <button>Create New Listings</button>
    </form>
</body>